services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
        BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
        BETTER_AUTH_TRUST_HOST: true 
        BETTER_AUTH_URL: ${BETTER_AUTH_URL}
        FROM_EMAIL: ${FROM_EMAIL}
        RESEND_API_KEY: ${RESEND_API_KEY}
    ports:
      - 3000:3000
    env_file:
      - .env
    stdin_open: true
    tty: true
    restart: always