name: Build Docker images
on:
  push:
    branches: ["main"]

jobs:
  build-and-push-dockerfile-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }} # Make sure to add the secrets in your repository in -> Settings -> Secrets (Actions) -> New repository secret
          password: ${{ secrets.DOCKERHUB_TOKEN }} # Make sure to add the secrets in your repository in -> Settings -> Secrets (Actions) -> New repository secret

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          build-args: |
            DATABASE_URL=${{vars.DATABASE_URL}}
            BETTER_AUTH_SECRET=${{secrets.BETTER_AUTH_SECRET}}
            BETTER_AUTH_URL=${{vars.BETTER_AUTH_URL}}
            BETTER_AUTH_TRUST_HOST=${{vars.BETTER_AUTH_TRUST_HOST}}
            RESEND_API_KEY=${{secrets.RESEND_API_KEY}}
            FROM_EMAIL=${{vars.FROM_EMAIL}}
          # Make sure to replace with your own namespace and repository
          tags: |
            devwild/app-constancias:latest
          platforms: linux/amd64
